absl-py
astor
bleach
bottle
click
certifi
chardet4
flask
future
gast
grpcio
gunicorn
h5py
html5lib
itsdangerous
idna
Jinja2
line-bot-sdk
Markdown
MarkupSafe
numpy
oauthlib
pillow
protobu
PyYAML
python-dotenv
requests
scipy
six
tensorboard
tensorflow-cp
termcolor
urllib3
Werkzeug